[submodule "Schematic Diagram/lib/Rasberry-pi-3"]
	path = Schematic Diagram/lib/Rasberry-pi-3
	url = https://github.com/lucahttp/Raspberry-Pi-3-library-for-kicad.git
[submodule "Schematic Diagram/lib/KiCad"]
	path = Schematic Diagram/lib/KiCad
	url = https://github.com/rayvburn/KiCad.git
