{{define "attendanceCompleted"}}
<!DOCTYPE html>
<html>
    <head>
        <title>出席簿作成完了</title>
        {{ template "head" }}
    </head>
    <body>
        {{ template "header" }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1>Completed!!</h1>
                    <a href="/attendance/list?id={{ . }}">こちら</a>から出席状況を確認できます
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}