{{define "attendanceList"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap demo</title>
        {{ template "head" }}
    </head>
    <body>
        {{ template "header" }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1>{{.Attendance.Id}}:{{.Attendance.Name}}</h1>
                    <h2>出席者</h2>
                    {{ range .Users }}
                        <p>{{.SerialNumber}}:{{.Name}}</p>
                    {{ end }}
                    <a href="/attendance/download?id={{.Attendance.Id}}">CSVファイルをダウンロード</a>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}