{{define "attendanceList"}}
<!DOCTYPE html>
<html>
    <head>
        <title>出席者確認</title>
        {{ template "head" }}
    </head>
    <body>
        {{ template "header" }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1>{{.Attendance.Id}}:{{.Attendance.Name}}</h1>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr><th>シリアルナンバー</th><th>名前</th><th>出席時刻</th></tr>
                        </thead>
                        <tbody>
                            {{ range .Users }}
                            <tr>
                                <td>{{.SerialNumber}}</td>
                                <td>{{.Name}}</td>
                                <td>{{.TimeStanp.Year}}/{{.TimeStanp.Month}}/{{.TimeStanp.Day}} {{.TimeStanp.Hour}}:{{.TimeStanp.Minut}}:{{.TimeStanp.Second}}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    <a href="/attendance/download?id={{.Attendance.Id}}">CSVファイルをダウンロード</a>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}