{{define "attendanceNew"}}
<!DOCTYPE html>
<html>
    <head>
        <title>出席簿作成</title>
        {{ template "head" }}
    </head>
    <body>
        {{ template "header" }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1>出席簿作成</h1>
                    <form action="/attendance/new" method="post">
                        <div class="mb-2">
                            <label class="form-label">名前</label>
                            <input type="text" class="form-control" name="name" list="nameList">
                            <datalist id="nameList">
                                {{ range . }}
                                <option value="{{ . }}"></option>
                                {{ end }}
                            </datalist>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">開始時刻</label>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="date" class="form-control" name="dateStart" id="dateStart">
                                </div>
                                <div class="col-sm">
                                    <input type="time" class="form-control" name="timeStart" value="00:00">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">終了時刻</label>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="date" class="form-control" name="dateGoal" id="dateGoal">
                                </div>
                                <div class="col-sm">
                                    <input type="time" class="form-control" name="timeGoal" value="23:59">
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <input type="submit" value="送信" class="btn btn-outline-primary col-12">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script>
        var today = new Date();
        today = today.getFullYear() + "-" + ("0"+(today.getMonth()+1)).slice(-2) + "-" + ("0"+today.getDate()).slice(-2);
        console.log(today);
        document.getElementById("dateStart").value = today;
        document.getElementById("dateGoal").value = today;
    </script>
</html>
{{end}}
