{{define "attendanceNew"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>出席パラメータ作成</h1>
        <form action="/attendance/new" method="post">
            <div>
                <label>名前</label>
                <input type="text" name="name" list="nameList">
                <datalist id="nameList">
                    {{ range . }}
                        <option value="{{ . }}"></option>
                    {{ end }}
                </datalist>
            </div>
            <div>
                <label>開始時刻</label>
                <input type="date" name="dateStart" id="dateStart">
                <input type="time" name="timeStart" value="00:00">
            </div>
            <div>
                <label>終了時刻</label>
                <input type="date" name="dateGoal" id="dateGoal">
                <input type="time" name="timeGoal" value="23:59">
            </div>
            <input type="submit">
        </form>
    </body>

    <script>
        var today = new Date();
        today = today.getFullYear() + "-" + ("0"+(today.getMonth()+1)).slice(-2) + "-" + ("0"+today.getDate()).slice(-2);
        console.log(today);
        document.getElementById("dateStart").value = today;
        document.getElementById("dateGoal").value = today;
    </script>
</html>
{{end}}
