{{define "attendanceSelect"}}
<!DOCTYPE html>
<html>
    <head>
        <title>出席者確認</title>
        {{ template "head" }}
    </head>
    <body>
        {{ template "header" }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1>出席簿選択</h1>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr><th>ID:名前</th><th>開始時刻</th><th>終了時刻</th></tr>
                        </thead>
                        <tbody>
                            {{ range . }}
                                <tr>
                                    <td>
                                        <a href="/attendance/list?id={{ .Id }}" style="display: block; width: 100%; height: 100%;">
                                            {{ .Id }}:{{ .Name }}
                                        </a>
                                    </td>
                                    <td>{{ .TimeStart }}</td>
                                    <td>{{ .TimeGoal }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}
